// .jobs-roundedtop {
//     border-style: solid;
//     border: 2px;
//     border-top: 10px;
// }

// .jobs-body {
//     border-style: solid;
//     border: 2px;
//     border-bottom: 0px;
// }
.jobs {
    border-style: solid;
    border-color: black;
    border-bottom: 1px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
}

.jobs-button {

}